footer
  .container.text-center
    div © 2014 Team BondUP.
    div
      | Thanks to
      strong  Hckathon Starter
      |  Project
    div
      | Code licensed under&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') MIT License
